  /* From here we are doing the proper css styles */
:root{
    background-color: gray;
    margin: 0px;
    padding: 0px;
    --bgimage: url("https://pixabay.com/get/g1424a1f52d8af3a6f73476e39a6635491d28dd5a5bf61b77adf60f13029c56bc47738434452f6b103dd101cdb5250807432b602e9fd6dd5c32bda792b893b6981b62dce6d8461f21478f1de0688aa977_1920.jpg");
}
